section {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;

    h2 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .form-wrapper {
        padding: 20px;
        box-shadow: 0px 4px 25px #c5c3c3;
        width: 400px;

        .form-field {
            margin-bottom: 20px;
    
            label {
                display: block;
                margin-bottom: 5px;
            }
        }
    
        .btn-wrapper {
            margin-top: 20px;
    
            .btn {
                min-width: 100px;
                padding: 5px 20px;
                margin-right: 10px;
            }
        }
    }

    .result {
        position: absolute;
        bottom: 5rem;
    }
}