<app-header></app-header>
<div class="content-wrapper">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>















<!-- <app-data-binding></app-data-binding> -->

<!-- <app-article></app-article> -->

<!-- <app-structural-directives></app-structural-directives> -->

<!-- <app-ng-switch></app-ng-switch> -->

<!-- <app-pipes></app-pipes> -->

<!-- <app-order-by></app-order-by> -->

<!-- <app-angular-forms></app-angular-forms> -->

<!-- <app-register></app-register> -->

<!-- <app-show-employee></app-show-employee> -->

<!-- <h1>{{title}}</h1>

<button (click)="changeHeading()">Click</button> -->


<!-- <form>
    <label for="name">Name</label>
    <input type="text" name="name" [(ngModel)]="title"> -->
<!-- Can't bind to 'ngModel' since it isn't a known property of 'input'. -->
<!-- </form> -->




<!-- Addition ngModel -->
<!-- <form class="addition">
    <input type="number" name="num1" [(ngModel)]="num1" (keyup)="add()">
    <input type="number" name="num2" [(ngModel)]="num2" (keyup)="add()">

    <button (click)="add()">Add</button>
<h2>Addition: {{addition}}</h2>

</form> -->



<!-- Addition template referance -->
<!-- <form class="addition">
    <input type="number" #num3>
    <input type="number" #num4>
    <button (click)="addNumbers(num3.value, num4.value)">click</button>
    <h2>Addition: {{addition2}}</h2>
</form> -->