
<div class="component-wrapper">


    <table class="table table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Department</th>
            </tr>
    
        </thead>
        <tbody>
            <tr>
                <td>Abhijeet</td>
                <td>Shende</td>
                <td>Desing</td>
            </tr>
            <tr>
                <td>Shubham</td>
                <td>Mane</td>
                <td>JS</td>
            </tr>
        </tbody>
    </table>
</div>

